.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: blueviolet;
    color: white;
    text-align: center;
    font-size: 15px;
    height: 50px;
}
p {
    margin-top: 12px;
}
a {
    color: white
}