<form [formGroup]="userForm" (ngSubmit)="onSubmit()">

    <div class="form-group" [ngClass]="{ 'has-error': invalidPhone() }"> <!-- First Name -->
      <label for="phone" class="control-label">Mobile Number</label>
      <input type="text" formControlName="phone" class="form-control" id="phone" name="phone" placeholder="+62xxxxxxxx">
      <p *ngIf="invalidPhone()" id="first_name_error" class="help-block">Invalid Indonesia Mobile Number.</p>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': invalidFirstName() }"> <!-- First Name -->
      <label for="firstname" class="control-label">First Name</label>
      <input type="text" formControlName="firstname" class="form-control" id="firstname" name="firstname" placeholder="Martin">
      <p *ngIf="invalidFirstName()" id="first_name_error" class="help-block">Invalid first name.</p>
    </div>
  
    <div class="form-group" [ngClass]="{ 'has-error': invalidLastName() }"> <!-- Last Name -->
      <label for="lastname" class="control-label">Last Name</label>
      <input type="text" formControlName="lastname" class="form-control" id="lastname" name="lastname" placeholder="Toha">
      <p *ngIf="invalidLastName()" id="last_name_error" class="help-block">Invalid last name.</p>
    </div>

    <div>
      <label for="lastname" class="control-label">Gender</label>
      <div>
        <input type="radio" value="male" name="gender" [(ngModel)]="gender" required #genderControl="ngModel"> Male
        <input type="radio" value="female" name="gender" [(ngModel)]="gender" required> Female
      </div>
    </div>
  
    <div class="form-group" [ngClass]="{ 'has-error': invalidEmail() }"> <!-- Email -->
      <label for="email" class="control-label">E-mail</label>
      <input type="text" formControlName="email" class="form-control" id="email" name="email" placeholder="your@email.com">
      <p *ngIf="invalidEmail()" id="email_error" class="help-block">Invalid email address.</p>
    </div>
      
    <div> <!-- Register Button -->
      <button [disabled]="!userForm.valid" type="submit" class="btn btn-primary">Register</button>
    </div>
  
  </form>	